report*.pdf
*.pyc


#ignore all pycache folders of the project
__pycache__/

#ignore all .pyc files of the project
*.pyc
*.json


#ignore nuclei txt files
nuclei*.txt

#ignore results folder
results*/

#ignore all hydra restore
hydra.restore