version: "3.9"

services:

  api:
    build:
      context: .
      dockerfile: deployment/docker/api.Dockerfile
    container_name: toolbox_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - minio

  worker:
    build:
      context: .
      dockerfile: deployment/docker/worker.Dockerfile
    container_name: toolbox_worker
    env_file:
      - .env
    depends_on:
      - redis
      - postgres

  postgres:
    image: postgres:15
    container_name: toolbox_postgres
    environment:
      POSTGRES_USER: toolbox
      POSTGRES_PASSWORD: toolbox
      POSTGRES_DB: toolbox
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: toolbox_redis
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    container_name: toolbox_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data 


volumes:
  postgres_data:
  minio_data:
